body {
    background-color: rgb(214, 204, 236); 
  }
  
  h1 {
    color: rgba(236, 0, 0, 0.979); 
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: rgba(50, 5, 77, 0.979); 
    text-align: center;
  }